.cusel,
.cuselFrameRight {background:url(../images/select.png) no-repeat}
.cusel {height:22px; display:inline-block; position:relative; cursor:pointer; z-index:1; outline:none; font-size:13px; line-height:22px}
.cuselFrameRight {position:absolute; z-index:2; top:0; right:0; height:22px; width:30px; background-position:right top}
.cuselText {height:22px; padding:0 0 0 11px; cursor:pointer; overflow:hidden; position:absolute; z-index:1; top:0; left:0; color:#9e9e9e; outline:none}
.cusel span {display:block; cursor:pointer; white-space:nowrap; padding:0 30px 0 10px; zoom:1; height:22px; color:#9e9e9e}
.cusel span:hover,
.cusel .cuselOptHover {background:#d4d4d4; color:#fff}
.cusel .cuselActive {background:#d4d4d4 !important; color:#fff !important; cursor:default}
.cuselOpen {z-index:999}
.cusel .cusel-scroll-wrap {display:block; visibility:hidden; position:absolute; left:0; top:100%; margin-top:4px; background:#fff; min-width:100%; width:auto}
.cusel .jScrollPaneContainer {position:relative; overflow:hidden; z-index:5; border:1px solid #d4d4d4}
.cusel .jScrollPaneTrack {height:100%; width:16px !important; background:url(../images/select-track.png); position:absolute; top:0; right:0}
.cusel .jScrollPaneDrag {position:absolute; background:url(../images/select-drag.png) left center; cursor:pointer; width:16px !important; right:0; overflow:hidden}
.cusel .jScrollPaneDragTop {position:absolute; top:0; left:0; width:16px !important; height:2px !important; font:0/0 serif; overflow:hidden; background:url(../images/select-drag-top.png)}
.cusel .jScrollPaneDragBottom {position:absolute; bottom:0; left:0; width:16px !important; height:2px !important; font:0/0 serif; overflow:hidden; background:url(../images/select-drag-bottom.png)}
.cusel .jScrollArrowUp {position:absolute; top:0; right:0; width:16px !important; height:15px; cursor:pointer; background:url(../images/select-arrow.png) no-repeat; overflow:hidden}
.cusel .jScrollArrowDown {width:16px !important; height:16px; position:absolute; top:auto; bottom:0; right:0; cursor:pointer; background:url(../images/select-arrow.png) no-repeat left -15px; overflow:hidden}

.window-form .cusel,
.window-form .cuselFrameRight {background-image:url(../images/select-red.png)}
.window-form .cusel {height:29px; font-size:14px; line-height:29px}
.window-form .cuselFrameRight {height:29px; width:45px}
.window-form .cuselText {height:29px; padding:0 0 0 21px; color:#fff}
.window-form .cusel span {height:29px; color:#fff; padding:0 45px 0 20px}
.window-form .cusel span:hover,
.window-form .cusel .cuselOptHover {background:#fff; color:#c80909}
.window-form .cusel .cuselActive {background:#fff !important; color:#c80909 !important}
.window-form .cusel .cusel-scroll-wrap {background:#c80909; margin-top:7px; border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; -khtml-border-radius:20px}
.window-form .cusel .jScrollPaneContainer {border-color:#fff; border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; -khtml-border-radius:20px}
.window-form .cusel .jScrollPaneContainer span:first-child {border-radius:20px 20px 0 0; -moz-border-radius:20px 20px 0 0; -webkit-border-radius:20px 20px 0 0; -khtml-border-radius:20px 20px 0 0}
.window-form .cusel .jScrollPaneContainer span:last-child {border-radius:0 0 20px 20px; -moz-border-radius:0 0 20px 20px; -webkit-border-radius:0 0 20px 20px; -khtml-border-radius:0 0 20px 20px}
